
*{
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

.a-pagar{
  background-color: #BB6BD9;
}

.login-title {
  color: #307FE2;
  border-bottom: 3px solid #307FE2;
  padding-bottom: 5px;
}

.button-next {
  cursor: pointer;
}


img[src="assets/img/🦆 icon _chevron left_.png"]{
    height: 8px;
}

.nome_perfil{
  font-size: 14px;
  width: max-content;
}

.status_perfil{
  font-size: 12px;
}

.confirmado{
  background-color: #219653;
}

.status{
  border-radius: 16px;
  padding: .24rem .55rem;
  font-size: 14px;
}

.modalidade{
  font-variant-numeric: lining-nums tabular-nums;
}

.card-info{
  height: max-content;
  width: 100%;
  max-width: 200px;
}

.card-info img{
    width: 100px;
}

.confirmad,.aguardando,.expirado{
  background-color: #E7FFF1;
  color: #219653;
  height: max-content;
  padding: 2px 6px;
  border-radius: 100px;
}

.expirado{
  color: white;
  background-color: #767676;
}

.aguardando{
  background-color: #FFF8F2;
  color:#E59146;
}

.tipo{
  background: #E9F8FF;
  color: #0095D9;
  padding: 2px 6px;
  border-radius: 100px;
}